[submodule "foundation"]
	path = foundation
	url = https://github.com/ryanwachtl/silverstripe-foundation-theme.git
[submodule "foundation-forms"]
	path = foundation-forms
	url = https://github.com/ryanwachtl/silverstripe-foundation-forms.git
[submodule "themes/foundation"]
	path = themes/foundation
	url = https://github.com/ryanwachtl/silverstripe-foundation-theme.git
[submodule "cms"]
	path = cms
	url = https://github.com/silverstripe/silverstripe-cms.git
[submodule "framework"]
	path = framework
	url = https://github.com/silverstripe/silverstripe-framework.git
[submodule "userforms"]
	path = userforms
	url = https://github.com/silverstripe/silverstripe-userforms.git
[submodule "SortableGridField"]
	path = SortableGridField
	url = https://github.com/UndefinedOffset/SortableGridField.git
[submodule "GridFieldBulkEditingTools"]
	path = GridFieldBulkEditingTools
	url = https://github.com/colymba/GridFieldBulkEditingTools.git
[submodule "RestfulServer"]
	path = RestfulServer
	url = https://github.com/silverstripe/silverstripe-restfulserver.git
[submodule "js/skrollr"]
	path = js/skrollr
	url = https://github.com/Prinzhorn/skrollr.git
[submodule "google-sitemaps"]
	path = google-sitemaps
	url = https://github.com/silverstripe-labs/silverstripe-googlesitemaps.git
