[submodule "foundation"]
	path = foundation
	url = https://github.com/ryanwachtl/silverstripe-foundation-theme.git
[submodule "foundation-forms"]
	path = foundation-forms
	url = https://github.com/ryanwachtl/silverstripe-foundation-forms.git
