
.icon-search:before { content: '\e824'; } /* '' */
.icon-behance:before { content: '\e858'; } /* '' */
.icon-mail-alt:before { content: '\e826'; } /* '' */
.icon-heart:before { content: '\e827'; } /* '' */
.icon-heart-empty:before { content: '\e828'; } /* '' */
.icon-star-1:before { content: '\e829'; } /* '' */
.icon-star-empty-1:before { content: '\e82a'; } /* '' */
.icon-star-half:before { content: '\e82b'; } /* '' */
.icon-star-half-alt:before { content: '\e82c'; } /* '' */
.icon-user:before { content: '\e82d'; } /* '' */
.icon-users:before { content: '\e859'; } /* '' */
.icon-video:before { content: '\e810'; } /* '' */
.icon-videocam:before { content: '\e82f'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-camera:before { content: '\e82e'; } /* '' */
.icon-camera-alt:before { content: '\e812'; } /* '' */
.icon-th-large-1:before { content: '\e83b'; } /* '' */
.icon-th-1:before { content: '\e842'; } /* '' */
.icon-th-list-1:before { content: '\e843'; } /* '' */
.icon-ok:before { content: '\e830'; } /* '' */
.icon-ok-circled:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e831'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e832'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-minus-circled:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e833'; } /* '' */
.icon-link:before { content: '\e813'; } /* '' */
.icon-unlink:before { content: '\e814'; } /* '' */
.icon-lock:before { content: '\e834'; } /* '' */
.icon-lock-open-alt:before { content: '\e835'; } /* '' */
.icon-tag:before { content: '\e837'; } /* '' */
.icon-tags:before { content: '\e838'; } /* '' */
.icon-bookmark:before { content: '\e839'; } /* '' */
.icon-bookmark-empty:before { content: '\e836'; } /* '' */
.icon-flag:before { content: '\e83a'; } /* '' */
.icon-flag-empty:before { content: '\e852'; } /* '' */
.icon-thumbs-up:before { content: '\e848'; } /* '' */
.icon-mail:before { content: '\e825'; } /* '' */
.icon-pencil:before { content: '\e83c'; } /* '' */
.icon-comment:before { content: '\e83d'; } /* '' */
.icon-chat:before { content: '\e83e'; } /* '' */
.icon-comment-empty:before { content: '\e83f'; } /* '' */
.icon-bell:before { content: '\e840'; } /* '' */
.icon-bell-alt:before { content: '\e841'; } /* '' */
.icon-attention:before { content: '\e817'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-direction:before { content: '\e84b'; } /* '' */
.icon-trash:before { content: '\e84c'; } /* '' */
.icon-phone:before { content: '\e84a'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-wrench:before { content: '\e84d'; } /* '' */
.icon-logout:before { content: '\e847'; } /* '' */
.icon-lightbulb:before { content: '\e84e'; } /* '' */
.icon-resize-full-alt:before { content: '\e80b'; } /* '' */
.icon-up-circled2:before { content: '\e80d'; } /* '' */
.icon-angle-left:before { content: '\e853'; } /* '' */
.icon-angle-right:before { content: '\e856'; } /* '' */
.icon-angle-up:before { content: '\e854'; } /* '' */
.icon-angle-down:before { content: '\e855'; } /* '' */
.icon-angle-circled-left:before { content: '\e806'; } /* '' */
.icon-angle-circled-right:before { content: '\e807'; } /* '' */
.icon-angle-circled-up:before { content: '\e808'; } /* '' */
.icon-angle-circled-down:before { content: '\e809'; } /* '' */
.icon-award:before { content: '\e844'; } /* '' */
.icon-globe:before { content: '\e845'; } /* '' */
.icon-off:before { content: '\e857'; } /* '' */
.icon-credit-card:before { content: '\e850'; } /* '' */
.icon-medkit:before { content: '\e84f'; } /* '' */
.icon-facebook-squared:before { content: '\e80c'; } /* '' */
.icon-instagramm:before { content: '\e80e'; } /* '' */
.icon-linkedin:before { content: '\e815'; } /* '' */
.icon-pinterest-squared:before { content: '\e816'; } /* '' */
.icon-twitter-squared:before { content: '\e80f'; } /* '' */
.icon-vimeo-squared:before { content: '\e818'; } /* '' */
.icon-youtube-squared:before { content: '\e819'; } /* '' */
.icon-thumbs-down:before { content: '\e849'; } /* '' */