
.icon-twitter-circled:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e801'; } /* '' */
.icon-youtube-squared:before { content: '\e802'; } /* '' */
.icon-twitter-squared:before { content: '\e803'; } /* '' */
.icon-facebook-squared:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\e806'; } /* '' */