/**
 * objects/_main.scss
 */

/* ==========================================================================
   Imports
   ========================================================================== */

/* Extends
   ========================================================================== */

// @import "";

/* Main
   ========================================================================== */

// @import "";

.inline-block {
  float: none;
  display: inline-block;
}

.img-responsive {
  width: 100%;
}
