/**
 * components/_main.scss
 */

/* ==========================================================================
   Imports
   ========================================================================== */

@import "navigation";

.jumbotron {
  position: relative;
  .jumbotron-overlay {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
  }
  .container {
    z-index: 2;
  }
}

h1 {
  color: #000000;
}

.tp-banner-container {
  .align-bottom {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
    @media(max-width: 600px) {
      .btn {
        display: block !important;
        max-width: 300px !important;
        margin: auto !important;
      }
    }
  }
}

#header-section {
  .tp-banner-container {
    h1 {
      color: #FFFFFF;
      font-weight: 300;
      text-transform: uppercase;
    }
    h3 {
      color: #FFFFFF;
    }
  }
}
