@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,200);

$default-text-shadow-color: rgba(black, 0.6);
$default-text-shadow-blur: 4px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-h-offset: 0px;


@import "compass/css3/text-shadow";

/*// Grid
// $row-width: rem-calc(1000);
// $column-gutter: rem-calc(30);
// $total-columns: 12;*/

/* Default Colors */
$primary-color: #27a0cf;
$secondary-color: #ecd74c;

/* $alert-color: #f04124;
   $success-color: #43AC6A;
   $warning-color: #f08a24;
   $info-color: #a0d3e8; */

/* PRESETS */

$header-bottom-margin: 1rem;
$header-font-family: "Source Sans", "Helvetica Neue", _sans;
$header-font-weight: 200;
$topbar-link-font-family: $header-font-family;
$topbar-link-font-size: rem-calc(16);
$topbar-bg-color: darken($primary-color, 10%);
$topbar-link-bg-hover: darken($primary-color, 25%);

$bright-blue: #79cae3;
$light-grey: #F5F5F5;
$dark-grey: #272727;
$medium-grey: #4e4e4e;

$section-padding: 2.5rem;

@import "../../../js/foundation/scss/settings";
@import "foundation";

/* STYLES BEGIN */

.main {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	min-height: 320px;
}

/* COLOR CLASSES */

section, div {
	&.dark-grey {
		background: $dark-grey;
	}
	&.medium-grey {
		background: $medium-grey;
	}
	&.black {
		background: #000000;
	}
	&.black, &.dark-grey, &.medium-grey, &.has-bg {
		border-bottom: 1px solid rgba(0,0,0,0.25);
		h1, h2, h3, h4, h5 {
			color: #FFFFFF;
		}
		p {
			color: rgba(255,255,255,0.8);
		}
	}
}
p, h1, h2, h3, h4, h5 {
	&.dark-grey {
		color: $dark-grey;
	}
	&.medium-grey {
		color: $medium-grey;
	}
}

.has-bg { 
	background-repeat: no-repeat;
	background-attachment: fixed !important; 
	background-position: center center !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

	h1, h2, h3, h4, h5, p {
		@include single-text-shadow;	
	}
}

.imagewrap {
	text-align: center;
}

.th.round {
	border-radius: 1000px;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	img {
		border-radius: 1000px;
		-webkit-border-radius: 1000px;
		-moz-border-radius: 1000px;
	}
}

.blockgrid {
	li {
		text-align: center;
	}
}

.top-bar {
	.name h1 a {
		text-indent: -1000px;;
		background: url('../images/Pawana-Logo-White-Small.png') no-repeat 10px 5px;
		background-size: auto 36px;
		width: 134px;
	}
}

/* FOOTER */

footer {
	margin: $section-padding/2 0;
}

/* SECTIONS */

section.HomePage, section#about {
	background: $primary-color;
	h1, h2, h3 {
		color: #FFF;
	}
	a {
		color: $secondary-color;
	}
	.maincontent {
		padding-bottom: 2em;
		p {
			text-align: center;
			padding: 0 10%;
			font-family: $header-font-family;
			font-weight: 200;
			font-size: 1.4em;
			color: rgba(255,255,255,0.8);
		}
	}
	.mainlogo {
		max-height: 140px;
		margin: 3rem 1rem;
	}
}

section.pageSection {
	/*padding-bottom: $section-padding;*/
	border-bottom: 1px solid darken($light-grey, 10%);
	/*h1, p {
		text-align: center;
	}*/
	/*h1 { margin-top: $section-padding; }	*/
	/*p:last-child {
		margin-bottom: 0;
	}*/
	&.ProfilePage {
		background: $light-grey;
	}
}

.profile {
	.label {
		font-size: 0.8em;
		margin: 0;
	}
}

.addthis_toolbox {
	text-align:center !important;
	float: none !important;
	a {
		float: none !important; display: inline-block !important;
			border-radius: 1000px;
			-webkit-border-radius: 1000px;
			-moz-border-radius: 1000px;
	}
}