@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
$header-font-family: "Rock Salt", "Helvetica", Helvetica, Arial, sans-serif;

// Grid
// $row-width: rem-calc(1000);
// $column-gutter: rem-calc(30);
// $total-columns: 12;

// Default Colors
// $primary-color: #008CBA;
$primary-color: #67b4ff;
// $secondary-color: #e7e7e7;
$alert-color: #bd240d;
$success-color: #afc908;
$warning-color: #ffb515;

$header-bottom-margin: 1rem;

$bright-blue: #79cae3;
$dark-grey: #272727;
$medium-grey: #4e4e4e;


@import "../../../js/foundation/scss/settings";
@import "foundation";

.main {
	padding-top: 32px;
	min-height: 320px;
}